<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioDeArchivoPortBinding" maxBufferSize="1073741824"
              maxReceivedMessageSize="1073741824">
                <readerQuotas maxStringContentLength="2000000" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/ServicioArchivo/ServicioDeArchivo"
                binding="basicHttpBinding" bindingConfiguration="ServicioDeArchivoPortBinding"
                contract="ServicioArchivo.ServicioDeArchivo" name="ServicioDeArchivoPort" />
        </client>
    </system.serviceModel>
</configuration>